<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sp_slider_section>
            <general>
                <enable>1</enable> <!--Default values for settings-->
                <display_text>0222</display_text> <!--Default values for settings-->
            </general>
        </sp_slider_section>
    </default>
</config>
